# 1.0.0_data_cleaning

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [3]:
import sys
sys.path.append("../") 

from utils.dataquality import data_quality
from utils.datacleaning import data_cleaning

from utils.paths2 import direcciones_cursos

G_raw, G_processed, G_interim, G_external, G_models, G_reports, G_reports_figures = direcciones_cursos('luxemburgo')

In [4]:
df = pd.read_csv(G_raw/'sample.csv')
df = data_cleaning(df)
df.head()

   x1  x2  x3  x4   x5  x6  x7  x8  x9  x10
0   1   3   4   2  103   3   6   0   4    0
1   1   4   4   2   98   3   6   0   4    0
2   1   2   4   2   15   3   6   0   4    1
3   1   2   4   2   15   3   6   0   4    0
4   1   4   4   2   68   3   6   0   4    0

In [5]:
data_quality(df)

The dataframe does not contain missing values.
The dataframe does not contain duplicate values.
The dataframe contains values that are not numeric.
execution ends.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 999
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      714 non-null    int64
 1   x2      714 non-null    int64
 2   x3      714 non-null    int64
 3   x4      714 non-null    int64
 4   x5      714 non-null    int64
 5   x6      714 non-null    int64
 6   x7      714 non-null    int64
 7   x8      714 non-null    int64
 8   x9      714 non-null    int64
 9   x10     714 non-null    int64
dtypes: int64(10)
memory usage: 61.4 KB

In [6]:
print('ok_')

ok_