# 1.0.0_data_cleaning

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import AdaBoostClassifier

from sklearn.ensemble import GradientBoostingRegressor

from sklearn.metrics import roc_auc_score
from sklearn.metrics import mean_squared_error as MSE

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [3]:
import sys
sys.path.append("../") 

from utils.paths2 import direcciones_cursos

G_raw, G_processed, G_interim, G_external, G_models, G_reports, G_reports_figures = direcciones_cursos('luxemburgo')

In [4]:
G_Quizz = pd.read_csv(G_raw/'sample.csv')
G_Quizz.head()

   X1  X2  X3  X4   X5  X6  X7  X8  X9  X10
0   1   3   4   2  103   3   6   0   4    0
1   1   4   4   2   98   3   6   0   4    0
2   1   2   4   2   15   3   6   0   4    1
3   1   2   4   2   15   3   6   0   4    0
4   1   4   4   2   68   3   6   0   4    0

In [5]:
G_Quizz.describe().T

      count    mean        std  min   25%   50%   75%    max
X1   1000.0   0.200   0.400200  0.0   0.0   0.0   0.0    1.0
X2   1000.0   2.439   0.930131  1.0   2.0   3.0   3.0    6.0
X3   1000.0   2.857   1.393734  0.0   1.0   4.0   4.0    5.0
X4   1000.0   1.532   0.501226  0.0   1.0   2.0   2.0    2.0
X5   1000.0  47.672  34.528403  0.0  23.0  23.0  92.0  103.0
X6   1000.0   4.223   1.454437  0.0   3.0   4.0   5.0    7.0
X7   1000.0   5.188   2.012139  0.0   4.0   6.0   6.0   10.0
X8   1000.0   0.237   0.425455  0.0   0.0   0.0   0.0    1.0
X9   1000.0   2.830   1.477594  0.0   1.0   4.0   4.0    4.0
X10  1000.0   1.918   2.187249  0.0   0.0   1.0   2.0    6.0

In [6]:
print('ok_')

ok_